# Runs unit tests.

name: Unit Tests

on:
  pull_request:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Run tests
        run: cargo test --all-features

  doc:
    name: Run doc tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Run doctests
        run: cargo test --doc --all-features

  msrv:
    name: Test MSRV (Rust 1.74.0)
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@1.74.0

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Use minimal lock file for MSRV
        run: cp Cargo-minimal.lock Cargo.lock

      - name: Check MSRV build
        run: cargo check --all-features

      - name: Run MSRV tests
        run: cargo test --all-features
